body {
	margin: 0;
	font-family: 'Merriweather', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(images/background.jpg);
}

code {
	font-family: 'Merriweather', serif;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.h1 {
	font-weight: bold;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
	color: #e1e1e1;
}

.note.new {
	background-image: url('images/background_notes.jpg');
}

textarea {
	border: none;
	resize: none;
	background-color: transparent;
}

textarea:focus {
	outline: none;
}

.save {
	background-image: url('images/background.jpg');
	border: none;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;

}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-image: url('images/background_notes.jpg');
	/* border-radius: 10px; */
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(134, 134, 134);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: transparent;
	width: 100%;
}

.search input:focus {
	outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: 'Merriweather', serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  font-family: 'Merriweather', serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  font-family: 'Merriweather', serif;
}